/*!
 * codebase - v5.2.0
 * @author pixelcave - https://pixelcave.com
 * Copyright (c) 2022
 */
body {
  color: #3e444a;
  background-color: #f2f5f5;
}

a {
  color: #36b3a0;
}
a.link-fx::before {
  background-color: #36b3a0 !important;
}
a:hover {
  color: #1e655a;
}

.content-heading {
  border-bottom-color: #e6ecec;
}

hr {
  border-top-color: #e6ecec;
}

.text-primary {
  color: #36b3a0 !important;
}

a.text-primary.link-fx::before {
  background-color: #36b3a0 !important;
}
a.text-primary:hover, a.text-primary:focus {
  color: #2a8c7d !important;
}

.text-primary-dark {
  color: #1a353c !important;
}

a.text-primary-dark.link-fx::before {
  background-color: #1a353c !important;
}
a.text-primary-dark:hover, a.text-primary-dark:focus {
  color: #0b1618 !important;
}

.text-primary-darker {
  color: #0b2830 !important;
}

a.text-primary-darker.link-fx::before {
  background-color: #0b2830 !important;
}
a.text-primary-darker:hover, a.text-primary-darker:focus {
  color: #010507 !important;
}

.text-primary-light {
  color: #61cfbf !important;
}

a.text-primary-light.link-fx::before {
  background-color: #61cfbf !important;
}
a.text-primary-light:hover, a.text-primary-light:focus {
  color: #3bc3ae !important;
}

.text-primary-lighter {
  color: #a8e5db !important;
}

a.text-primary-lighter.link-fx::before {
  background-color: #a8e5db !important;
}
a.text-primary-lighter:hover, a.text-primary-lighter:focus {
  color: #80d9cb !important;
}

.text-body-bg {
  color: #f2f5f5 !important;
}

a.text-body-bg.link-fx::before {
  background-color: #f2f5f5 !important;
}
a.text-body-bg:hover, a.text-body-bg:focus {
  color: #d5dfdf !important;
}

.text-body-bg-light {
  color: #f8f9f9 !important;
}

a.text-body-bg-light.link-fx::before {
  background-color: #f8f9f9 !important;
}
a.text-body-bg-light:hover, a.text-body-bg-light:focus {
  color: #dbe3e3 !important;
}

.text-body-bg-dark {
  color: #e6ecec !important;
}

a.text-body-bg-dark.link-fx::before {
  background-color: #e6ecec !important;
}
a.text-body-bg-dark:hover, a.text-body-bg-dark:focus {
  color: #cad6d6 !important;
}

.text-body-color {
  color: #3e444a !important;
}

a.text-body-color.link-fx::before {
  background-color: #3e444a !important;
}
a.text-body-color:hover, a.text-body-color:focus {
  color: #272b2e !important;
}

.text-body-color-dark {
  color: #171717 !important;
}

a.text-body-color-dark.link-fx::before {
  background-color: #171717 !important;
}
a.text-body-color-dark:hover, a.text-body-color-dark:focus {
  color: black !important;
}

.text-body-color-light {
  color: #e6ecec !important;
}

a.text-body-color-light.link-fx::before {
  background-color: #e6ecec !important;
}
a.text-body-color-light:hover, a.text-body-color-light:focus {
  color: #cad6d6 !important;
}

.text-dual {
  color: #1a353c !important;
}

a.text-dual.link-fx::before {
  background-color: #1a353c !important;
}
a.text-dual:hover, a.text-dual:focus {
  color: #0b1618 !important;
}

.page-header-dark #page-header .text-dual,
.sidebar-dark #sidebar .text-dual {
  color: #e6ecec !important;
}
.page-header-dark #page-header a.text-dual.link-fx::before,
.sidebar-dark #sidebar a.text-dual.link-fx::before {
  background-color: #e6ecec !important;
}
.page-header-dark #page-header a.text-dual:hover, .page-header-dark #page-header a.text-dual:focus,
.sidebar-dark #sidebar a.text-dual:hover,
.sidebar-dark #sidebar a.text-dual:focus {
  color: #cad6d6 !important;
}

.bg-primary {
  background-color: #36b3a0 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #2a8c7d !important;
}

.bg-primary-op {
  background-color: rgba(54, 179, 160, 0.75) !important;
}

a.bg-primary-op:hover, a.bg-primary-op:focus,
button.bg-primary-op:hover,
button.bg-primary-op:focus {
  background-color: rgba(42, 140, 125, 0.75) !important;
}

.bg-primary-dark {
  background-color: #1a353c !important;
}

a.bg-primary-dark:hover, a.bg-primary-dark:focus,
button.bg-primary-dark:hover,
button.bg-primary-dark:focus {
  background-color: #0b1618 !important;
}

.bg-primary-dark-op {
  background-color: rgba(26, 53, 60, 0.8) !important;
}

a.bg-primary-dark-op:hover, a.bg-primary-dark-op:focus,
button.bg-primary-dark-op:hover,
button.bg-primary-dark-op:focus {
  background-color: rgba(11, 22, 24, 0.8) !important;
}

.bg-primary-darker {
  background-color: #0b2830 !important;
}

a.bg-primary-darker:hover, a.bg-primary-darker:focus,
button.bg-primary-darker:hover,
button.bg-primary-darker:focus {
  background-color: #010507 !important;
}

.bg-primary-light {
  background-color: #61cfbf !important;
}

a.bg-primary-light:hover, a.bg-primary-light:focus,
button.bg-primary-light:hover,
button.bg-primary-light:focus {
  background-color: #3bc3ae !important;
}

.bg-primary-lighter {
  background-color: #a8e5db !important;
}

a.bg-primary-lighter:hover, a.bg-primary-lighter:focus,
button.bg-primary-lighter:hover,
button.bg-primary-lighter:focus {
  background-color: #80d9cb !important;
}

.bg-body {
  background-color: #f2f5f5 !important;
}

a.bg-body:hover, a.bg-body:focus,
button.bg-body:hover,
button.bg-body:focus {
  background-color: #d5dfdf !important;
}

.bg-body-light {
  background-color: #f8f9f9 !important;
}

a.bg-body-light:hover, a.bg-body-light:focus,
button.bg-body-light:hover,
button.bg-body-light:focus {
  background-color: #dbe3e3 !important;
}

.bg-body-dark {
  background-color: #e6ecec !important;
}

a.bg-body-dark:hover, a.bg-body-dark:focus,
button.bg-body-dark:hover,
button.bg-body-dark:focus {
  background-color: #cad6d6 !important;
}

.bg-gd-primary {
  background: #24786b linear-gradient(135deg, #24786b 0%, #3ec5b0 100%) !important;
}

.bg-header-light {
  background-color: #fff !important;
}

a.bg-header-light:hover, a.bg-header-light:focus,
button.bg-header-light:hover,
button.bg-header-light:focus {
  background-color: #e6e6e6 !important;
}

.bg-header-dark {
  background-color: #1a353c !important;
}

a.bg-header-dark:hover, a.bg-header-dark:focus,
button.bg-header-dark:hover,
button.bg-header-dark:focus {
  background-color: #0b1618 !important;
}

.bg-sidebar-light {
  background-color: #fff !important;
}

a.bg-sidebar-light:hover, a.bg-sidebar-light:focus,
button.bg-sidebar-light:hover,
button.bg-sidebar-light:focus {
  background-color: #e6e6e6 !important;
}

.bg-sidebar-dark {
  background-color: #1a353c !important;
}

a.bg-sidebar-dark:hover, a.bg-sidebar-dark:focus,
button.bg-sidebar-dark:hover,
button.bg-sidebar-dark:focus {
  background-color: #0b1618 !important;
}

.btn-link {
  color: #36b3a0;
}
.btn-link:hover {
  color: #1e655a;
}

.btn-primary {
  color: #000;
  background-color: #36b3a0;
  border-color: #36b3a0;
}
.btn-primary:hover {
  color: #000;
  background-color: #5ec2b3;
  border-color: #54beae;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #000;
  background-color: #5ec2b3;
  border-color: #54beae;
  box-shadow: 0 0 0 0.25rem rgba(46, 152, 136, 0.5);
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #000;
  background-color: #5ec2b3;
  border-color: #4abbaa;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(46, 152, 136, 0.5);
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #000;
  background-color: #36b3a0;
  border-color: #36b3a0;
}

.btn-secondary {
  color: #fff;
  background-color: #1a353c;
  border-color: #1a353c;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #152a30;
  border-color: #14282d;
}
.btn-check:focus + .btn-secondary, .btn-secondary:focus {
  color: #fff;
  background-color: #152a30;
  border-color: #14282d;
  box-shadow: 0 0 0 0.25rem rgba(60, 83, 89, 0.5);
}
.btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #152a30;
  border-color: #14282d;
}
.btn-check:checked + .btn-secondary:focus, .btn-check:active + .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(60, 83, 89, 0.5);
}
.btn-secondary:disabled, .btn-secondary.disabled {
  color: #fff;
  background-color: #1a353c;
  border-color: #1a353c;
}

.btn-outline-primary {
  color: #36b3a0;
  border-color: #36b3a0;
}
.btn-outline-primary:hover {
  color: #000;
  background-color: #36b3a0;
  border-color: #36b3a0;
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(54, 179, 160, 0.5);
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #000;
  background-color: #36b3a0;
  border-color: #36b3a0;
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(54, 179, 160, 0.5);
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #36b3a0;
  background-color: transparent;
}

.btn-alt-primary {
  color: #206b60;
  background-color: #cdece7;
  border-color: #cdece7;
}
.btn-alt-primary:hover {
  color: #164840;
  background-color: #9bd9d0;
  border-color: #9bd9d0;
}
.btn-check:focus + .btn-alt-primary, .btn-alt-primary:focus {
  color: #164840;
  background-color: #9bd9d0;
  border-color: #9bd9d0;
  box-shadow: 0 0 0 0.25rem rgba(179, 217, 211, 0.5);
}
.btn-check:checked + .btn-alt-primary, .btn-check:active + .btn-alt-primary, .btn-alt-primary:active, .btn-alt-primary.active, .show > .btn-alt-primary.dropdown-toggle {
  color: #000;
  background-color: #d7f0ec;
  border-color: #d2eee9;
}
.btn-check:checked + .btn-alt-primary:focus, .btn-check:active + .btn-alt-primary:focus, .btn-alt-primary:active:focus, .btn-alt-primary.active:focus, .show > .btn-alt-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(179, 217, 211, 0.5);
}
.btn-alt-primary:disabled, .btn-alt-primary.disabled {
  color: #000;
  background-color: #cdece7;
  border-color: #cdece7;
}

.btn-alt-secondary {
  color: #171717;
  background-color: #f2f5f5;
  border-color: #f2f5f5;
}
.btn-alt-secondary:hover {
  color: #141414;
  background-color: #dadddd;
  border-color: #dadddd;
}
.btn-check:focus + .btn-alt-secondary, .btn-alt-secondary:focus {
  color: #141414;
  background-color: #dadddd;
  border-color: #dadddd;
  box-shadow: 0 0 0 0.25rem rgba(209, 212, 212, 0.5);
}
.btn-check:checked + .btn-alt-secondary, .btn-check:active + .btn-alt-secondary, .btn-alt-secondary:active, .btn-alt-secondary.active, .show > .btn-alt-secondary.dropdown-toggle {
  color: #000;
  background-color: #f5f7f7;
  border-color: #f3f6f6;
}
.btn-check:checked + .btn-alt-secondary:focus, .btn-check:active + .btn-alt-secondary:focus, .btn-alt-secondary:active:focus, .btn-alt-secondary.active:focus, .show > .btn-alt-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(209, 212, 212, 0.5);
}
.btn-alt-secondary:disabled, .btn-alt-secondary.disabled {
  color: #000;
  background-color: #f2f5f5;
  border-color: #f2f5f5;
}

.page-header-dark #page-header .btn-alt-secondary,
.sidebar-dark #sidebar .btn-alt-secondary,
#sidebar .bg-header-dark .content-header .btn-alt-secondary,
.page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-alt-secondary {
  color: #fff;
  background-color: #1a353c;
  border-color: #1a353c;
}
.page-header-dark #page-header .btn-alt-secondary:hover,
.sidebar-dark #sidebar .btn-alt-secondary:hover,
#sidebar .bg-header-dark .content-header .btn-alt-secondary:hover,
.page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-alt-secondary:hover {
  color: #fff;
  background-color: #3c5359;
  border-color: #3c5359;
}
.btn-check:focus + .page-header-dark #page-header .btn-alt-secondary, .page-header-dark #page-header .btn-alt-secondary:focus,
.btn-check:focus + .sidebar-dark #sidebar .btn-alt-secondary,
.sidebar-dark #sidebar .btn-alt-secondary:focus,
.btn-check:focus + #sidebar .bg-header-dark .content-header .btn-alt-secondary,
#sidebar .bg-header-dark .content-header .btn-alt-secondary:focus,
.btn-check:focus + .page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-alt-secondary,
.page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-alt-secondary:focus {
  color: #fff;
  background-color: #3c5359;
  border-color: #3c5359;
  box-shadow: 0 0 0 0.25rem rgba(60, 83, 89, 0.5);
}
.btn-check:checked + .page-header-dark #page-header .btn-alt-secondary, .btn-check:active + .page-header-dark #page-header .btn-alt-secondary, .page-header-dark #page-header .btn-alt-secondary:active, .page-header-dark #page-header .btn-alt-secondary.active, .show > .page-header-dark #page-header .btn-alt-secondary.dropdown-toggle,
.btn-check:checked + .sidebar-dark #sidebar .btn-alt-secondary,
.btn-check:active + .sidebar-dark #sidebar .btn-alt-secondary,
.sidebar-dark #sidebar .btn-alt-secondary:active,
.sidebar-dark #sidebar .btn-alt-secondary.active,
.show > .sidebar-dark #sidebar .btn-alt-secondary.dropdown-toggle,
.btn-check:checked + #sidebar .bg-header-dark .content-header .btn-alt-secondary,
.btn-check:active + #sidebar .bg-header-dark .content-header .btn-alt-secondary,
#sidebar .bg-header-dark .content-header .btn-alt-secondary:active,
#sidebar .bg-header-dark .content-header .btn-alt-secondary.active,
.show > #sidebar .bg-header-dark .content-header .btn-alt-secondary.dropdown-toggle,
.btn-check:checked + .page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-alt-secondary,
.btn-check:active + .page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-alt-secondary,
.page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-alt-secondary:active,
.page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-alt-secondary.active,
.show > .page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-alt-secondary.dropdown-toggle {
  color: #fff;
  background-color: #152a30;
  border-color: #14282d;
}
.btn-check:checked + .page-header-dark #page-header .btn-alt-secondary:focus, .btn-check:active + .page-header-dark #page-header .btn-alt-secondary:focus, .page-header-dark #page-header .btn-alt-secondary:active:focus, .page-header-dark #page-header .btn-alt-secondary.active:focus, .show > .page-header-dark #page-header .btn-alt-secondary.dropdown-toggle:focus,
.btn-check:checked + .sidebar-dark #sidebar .btn-alt-secondary:focus,
.btn-check:active + .sidebar-dark #sidebar .btn-alt-secondary:focus,
.sidebar-dark #sidebar .btn-alt-secondary:active:focus,
.sidebar-dark #sidebar .btn-alt-secondary.active:focus,
.show > .sidebar-dark #sidebar .btn-alt-secondary.dropdown-toggle:focus,
.btn-check:checked + #sidebar .bg-header-dark .content-header .btn-alt-secondary:focus,
.btn-check:active + #sidebar .bg-header-dark .content-header .btn-alt-secondary:focus,
#sidebar .bg-header-dark .content-header .btn-alt-secondary:active:focus,
#sidebar .bg-header-dark .content-header .btn-alt-secondary.active:focus,
.show > #sidebar .bg-header-dark .content-header .btn-alt-secondary.dropdown-toggle:focus,
.btn-check:checked + .page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-alt-secondary:focus,
.btn-check:active + .page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-alt-secondary:focus,
.page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-alt-secondary:active:focus,
.page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-alt-secondary.active:focus,
.show > .page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-alt-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(60, 83, 89, 0.5);
}
.page-header-dark #page-header .btn-alt-secondary:disabled, .page-header-dark #page-header .btn-alt-secondary.disabled,
.sidebar-dark #sidebar .btn-alt-secondary:disabled,
.sidebar-dark #sidebar .btn-alt-secondary.disabled,
#sidebar .bg-header-dark .content-header .btn-alt-secondary:disabled,
#sidebar .bg-header-dark .content-header .btn-alt-secondary.disabled,
.page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-alt-secondary:disabled,
.page-header-dark.page-header-glass:not(.page-header-scroll) #page-header .btn-alt-secondary.disabled {
  color: #fff;
  background-color: #1a353c;
  border-color: #1a353c;
}

.alert-primary {
  color: #1a353c;
  background-color: #a8e5db;
  border-color: #a8e5db;
}
.alert-primary .alert-link {
  color: #152a30;
}

.progress-bar {
  background-color: #36b3a0;
}

.nav-link {
  color: #3e444a;
}
.nav-link:hover, .nav-link:focus {
  color: #36b3a0;
}

.nav-pills .nav-link {
  color: #3e444a;
}
.nav-pills .nav-link:hover, .nav-pills .nav-link:focus {
  background-color: #f2f5f5;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #36b3a0;
}

.nav-tabs {
  border-bottom-color: #e6ecec;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e6ecec #e6ecec #e6ecec;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-color: #e6ecec #e6ecec #fff;
}

.nav-tabs-block {
  background-color: #f8f9f9;
}
.nav-tabs-block .nav-link {
  border-color: transparent;
  color: #3e444a;
}
.nav-tabs-block .nav-link:hover, .nav-tabs-block .nav-link:focus {
  color: #36b3a0;
  background-color: #f8f9f9;
  border-color: transparent;
}
.nav-tabs-block .nav-link.active,
.nav-tabs-block .nav-item.show .nav-link {
  color: #3e444a;
  background-color: #fff;
  border-color: transparent;
}

.nav-tabs-alt {
  border-bottom-color: #e6ecec;
}
.nav-tabs-alt .nav-link {
  color: #3e444a;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs-alt .nav-link:hover, .nav-tabs-alt .nav-link:focus {
  color: #36b3a0;
  background-color: transparent;
  border-color: transparent;
  box-shadow: inset 0 -3px #36b3a0;
}
.nav-tabs-alt .nav-link.active,
.nav-tabs-alt .nav-item.show .nav-link {
  color: #3e444a;
  background-color: transparent;
  border-color: transparent;
  box-shadow: inset 0 -3px #36b3a0;
}

.card.card-borderless {
  box-shadow: 0 1px 2px rgba(223, 231, 231, 0.5), 0 1px 2px rgba(223, 231, 231, 0.5);
}
.card > .card-header:not(.bg-transparent),
.card > .card-footer:not(.bg-transparent) {
  background-color: #f8f9f9;
}
.card > .card-header:not(.border-bottom-0),
.card > .card-footer:not(.border-top-0) {
  border-color: #e6ecec;
}
.card:not(.card-borderless),
.card:not(.card-borderless) > .card-header {
  border-color: #e6ecec;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #36b3a0;
  border-color: #36b3a0;
}

.page-link {
  color: #3e444a;
  background-color: #f2f5f5;
  border-color: #f2f5f5;
}
.page-link:hover {
  background-color: #d5dfdf;
  border-color: #d5dfdf;
}
.page-link:focus {
  background-color: #e6ecec;
  border-color: #e6ecec;
}

.list-group-item-action {
  color: #3e444a;
}
.list-group-item-action:hover, .list-group-item-action:focus {
  color: #3e444a;
  background-color: #f8f9f9;
}
.list-group-item-action:active {
  color: #3e444a;
  background-color: #e6ecec;
}

.list-group-item {
  border-color: #e6ecec;
}
.list-group-item.active {
  color: #fff;
  background-color: #36b3a0;
  border-color: #36b3a0;
}

.popover {
  border-color: #e6ecec;
}

.bs-popover-top .popover-arrow::before, .bs-popover-auto[x-placement^=top] .popover-arrow::before {
  border-top-color: #e6ecec;
}
.bs-popover-top .popover-arrow::after, .bs-popover-auto[x-placement^=top] .popover-arrow::after {
  border-top-color: #fff;
}

.bs-popover-end .popover-arrow::before, .bs-popover-auto[x-placement^=right] .popover-arrow::before {
  border-right-color: #e6ecec;
}
.bs-popover-end .popover-arrow::after, .bs-popover-auto[x-placement^=right] .popover-arrow::after {
  border-right-color: #fff;
}

.bs-popover-bottom .popover-arrow::before, .bs-popover-auto[x-placement^=bottom] .popover-arrow::before {
  border-bottom-color: #e6ecec;
}
.bs-popover-bottom .popover-arrow::after, .bs-popover-auto[x-placement^=bottom] .popover-arrow::after {
  border-bottom-color: #fff;
}

.bs-popover-start .popover-arrow::before, .bs-popover-auto[x-placement^=left] .popover-arrow::before {
  border-left-color: #e6ecec;
}
.bs-popover-start .popover-arrow::after, .bs-popover-auto[x-placement^=left] .popover-arrow::after {
  border-left-color: #fff;
}

.modal-header {
  border-bottom-color: #e6ecec;
}

.modal-footer {
  border-top-color: #e6ecec;
}

.dropdown-menu {
  border-color: #e6ecec;
}

.dropdown-divider {
  border-top-color: #f2f5f5;
}

.dropdown-item {
  color: #3e444a;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #3e444a;
  background-color: #f2f5f5;
}
.dropdown-item.active, .dropdown-item:active {
  color: #3e444a;
  background-color: #e6ecec;
}

.table {
  --bs-table-striped-bg: #f6f8f8;
  --bs-table-active-bg: #f2f5f5;
  --bs-table-hover-bg: #eef2f2;
  border-color: #e6ecec;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #e6ecec;
}

.table-primary {
  --bs-table-bg: #a8e5db;
  --bs-table-striped-bg: #a0dad0;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #97cec5;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #9bd4cb;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #97cec5;
}

.form-control,
.form-select {
  color: #3e444a;
  background-color: #fff;
  border-color: #d8e1e1;
}
.form-control:focus,
.form-select:focus {
  color: #171717;
  background-color: #fff;
  border-color: white;
  box-shadow: 0 0 0 0.25rem rgba(54, 179, 160, 0.25);
}
.form-control:disabled, .form-control[readonly],
.form-select:disabled,
.form-select[readonly] {
  background-color: #e9ecef;
}

.form-select:focus::-ms-value {
  color: #3e444a;
  background-color: #fff;
}

.form-control.form-control-alt,
.form-select.form-control-alt {
  border-color: #f2f5f5;
  background-color: #f2f5f5;
}
.form-control.form-control-alt:focus,
.form-select.form-control-alt:focus {
  border-color: #e6ecec;
  background-color: #e6ecec;
  box-shadow: none;
}

.valid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.375rem;
  font-size: 0.875rem;
  color: #65a30d;
}

.valid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  color: #fff;
  background-color: rgba(101, 163, 13, 0.9);
  border-radius: 0.25rem;
}

.was-validated :valid ~ .valid-feedback,
.was-validated :valid ~ .valid-tooltip,
.is-valid ~ .valid-feedback,
.is-valid ~ .valid-tooltip {
  display: block;
}

.was-validated .form-control:valid, .form-control.is-valid {
  border-color: #65a30d;
}
.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
  border-color: #65a30d;
  box-shadow: 0 0 0 0.25rem rgba(101, 163, 13, 0.25);
}

.was-validated .form-select:valid, .form-select.is-valid {
  border-color: #65a30d;
}
.was-validated .form-select:valid:focus, .form-select.is-valid:focus {
  border-color: #65a30d;
  box-shadow: 0 0 0 0.25rem rgba(101, 163, 13, 0.25);
}

.was-validated .form-check-input:valid, .form-check-input.is-valid {
  border-color: #65a30d;
}
.was-validated .form-check-input:valid:checked, .form-check-input.is-valid:checked {
  background-color: #65a30d;
}
.was-validated .form-check-input:valid:focus, .form-check-input.is-valid:focus {
  box-shadow: 0 0 0 0.25rem rgba(101, 163, 13, 0.25);
}
.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: #65a30d;
}

.form-check-inline .form-check-input ~ .valid-feedback {
  margin-left: 0.5em;
}

.was-validated .input-group .form-control:valid, .input-group .form-control.is-valid,
.was-validated .input-group .form-select:valid,
.input-group .form-select.is-valid {
  z-index: 1;
}
.was-validated .input-group .form-control:valid:focus, .input-group .form-control.is-valid:focus,
.was-validated .input-group .form-select:valid:focus,
.input-group .form-select.is-valid:focus {
  z-index: 3;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.375rem;
  font-size: 0.875rem;
  color: #dc2626;
}

.invalid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  color: #fff;
  background-color: rgba(220, 38, 38, 0.9);
  border-radius: 0.25rem;
}

.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #dc2626;
}
.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  border-color: #dc2626;
  box-shadow: 0 0 0 0.25rem rgba(220, 38, 38, 0.25);
}

.was-validated .form-select:invalid, .form-select.is-invalid {
  border-color: #dc2626;
}
.was-validated .form-select:invalid:focus, .form-select.is-invalid:focus {
  border-color: #dc2626;
  box-shadow: 0 0 0 0.25rem rgba(220, 38, 38, 0.25);
}

.was-validated .form-check-input:invalid, .form-check-input.is-invalid {
  border-color: #dc2626;
}
.was-validated .form-check-input:invalid:checked, .form-check-input.is-invalid:checked {
  background-color: #dc2626;
}
.was-validated .form-check-input:invalid:focus, .form-check-input.is-invalid:focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 38, 38, 0.25);
}
.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: #dc2626;
}

.form-check-inline .form-check-input ~ .invalid-feedback {
  margin-left: 0.5em;
}

.was-validated .input-group .form-control:invalid, .input-group .form-control.is-invalid,
.was-validated .input-group .form-select:invalid,
.input-group .form-select.is-invalid {
  z-index: 2;
}
.was-validated .input-group .form-control:invalid:focus, .input-group .form-control.is-invalid:focus,
.was-validated .input-group .form-select:invalid:focus,
.input-group .form-select.is-invalid:focus {
  z-index: 3;
}

.input-group-text {
  color: #3e444a;
  background-color: #f2f5f5;
  border-color: #d8e1e1;
}

.input-group-text.input-group-text-alt {
  background-color: #e6ecec;
  border-color: #e6ecec;
}

.form-check-input {
  border-color: #d5dfdf;
}
.form-check-input:focus {
  border-color: #36b3a0;
  box-shadow: 0 0 0 0.25rem rgba(54, 179, 160, 0.25);
}
.form-check-input:checked {
  background-color: #36b3a0;
  border-color: #36b3a0;
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23d5dfdf'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2336b3a0'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-block .form-check-label {
  border: 2px solid #e6ecec;
}
.form-block .form-check-label:hover {
  border-color: #d8e1e1;
}
.form-block .form-check-label::before {
  background-color: #36b3a0;
}
.form-block .form-check-input:checked ~ .form-check-label {
  border-color: #36b3a0;
}
.form-block .form-check-input:focus ~ .form-check-label {
  border-color: #36b3a0;
  box-shadow: 0 0 0 0.25rem rgba(54, 179, 160, 0.25);
}
.form-block .form-check-input:disabled:not([checked]) + .form-check-label:hover,
.form-block .form-check-input[readonly]:not([checked]) + .form-check-label:hover {
  border-color: #e6ecec;
}

.border {
  border-color: #e6ecec !important;
}

.border-top {
  border-top-color: #e6ecec !important;
}

.border-end {
  border-right-color: #e6ecec !important;
}

.border-bottom {
  border-bottom-color: #e6ecec !important;
}

.border-start {
  border-left-color: #e6ecec !important;
}

.border-primary {
  border-color: #0284c7 !important;
}

.border-secondary {
  border-color: #6c757d !important;
}

.border-success {
  border-color: #65a30d !important;
}

.border-info {
  border-color: #0891b2 !important;
}

.border-warning {
  border-color: #d97706 !important;
}

.border-danger {
  border-color: #dc2626 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.border-primary {
  border-color: #36b3a0 !important;
}

.border-white {
  border-color: #fff !important;
}

.border-white-op {
  border-color: rgba(255, 255, 255, 0.1) !important;
}

.border-black-op {
  border-color: rgba(0, 0, 0, 0.1) !important;
}

#page-overlay {
  background: rgba(1, 3, 2, 0.4);
  background: linear-gradient(to right, rgba(1, 3, 2, 0), rgba(1, 3, 2, 0.6));
}
.sidebar-r #page-overlay {
  background: linear-gradient(to right, rgba(1, 3, 2, 0.6), rgba(1, 3, 2, 0));
}

#page-header {
  background-color: #fff;
}

#sidebar {
  background-color: #fff;
}

#side-overlay {
  background-color: #fff;
}

#page-loader::after {
  background-color: #36b3a0;
}

.content-side.content-side-user {
  background-color: #f8f9f9;
}

@media (min-width: 992px) {
  #page-container.page-header-modern #page-header {
    background-color: #f2f5f5;
  }
}
#page-container.page-header-dark #page-header {
  color: #cfdada;
  background-color: #1a353c;
}
#page-container.page-header-glass #page-header {
  background-color: transparent;
}
#page-container.page-header-glass.page-header-fixed.page-header-scroll #page-header {
  background-color: #fff;
}
#page-container.page-header-glass.page-header-fixed.page-header-scroll.page-header-dark #page-header {
  background-color: #1a353c;
}
@media (min-width: 992px) {
  #page-container.page-header-modern:not(.sidebar-dark) #sidebar {
    box-shadow: 5px 0 10px #e6ecec;
  }
  #page-container.page-header-modern.sidebar-r:not(.sidebar-dark) #sidebar {
    box-shadow: -5px 0 10px #e6ecec;
  }
}
#page-container.sidebar-dark #sidebar {
  color: #e6ecec;
  background-color: #1a353c;
}
#page-container.sidebar-dark #sidebar .content-side.content-side-user {
  background-color: #162d33;
}

#sidebar.with-mini-nav .sidebar-mini-nav {
  color: #e6ecec;
  background-color: #1f3e47;
}

.block {
  box-shadow: 0 1px 2px rgba(223, 231, 231, 0.5), 0 1px 2px rgba(223, 231, 231, 0.5);
}
.block.block-transparent {
  box-shadow: none;
}

.block-header-default {
  background-color: #f8f9f9;
}

.block.block-bordered {
  border-color: #e6ecec;
}
.block.block-themed > .block-header {
  background-color: #36b3a0;
}

.block.block-mode-loading::after {
  color: #1a353c;
  box-shadow: 0 0 1rem 1rem rgba(26, 53, 60, 0.05);
}
.block.block-mode-loading.block-mode-hidden::after {
  box-shadow: 0 0 0.5rem 0.5rem rgba(26, 53, 60, 0.05);
}
.block.block-mode-loading.block-mode-loading-dark::after {
  box-shadow: 0 0 1rem 1rem rgba(255, 255, 255, 0.5);
}

a.block {
  color: #3e444a;
}
a.block:hover, a.block:focus {
  color: #3e444a;
}
a.block.block-link-pop:hover {
  box-shadow: 0 0.125rem 2rem #dbe3e3;
}
a.block.block-link-pop:active {
  box-shadow: 0 0.125rem 0.625rem #eff3f3;
}
a.block.block-link-shadow:hover {
  box-shadow: 0 0 2.125rem #dbe3e3;
}
a.block.block-link-shadow:active {
  box-shadow: 0 0 0.625rem #e6ecec;
}

.block.block-fx-pop {
  box-shadow: 0 0.125rem 1rem #dbe3e3;
}
.block.block-fx-shadow {
  box-shadow: 0 0 2.125rem #dbe3e3;
}

.nav-main-heading {
  color: #79848f;
}

.nav-main-link {
  color: #4a5158;
}
.nav-main-link .nav-main-link-icon {
  color: #a3aab2;
}
.nav-main-link:hover, .nav-main-link:focus, .nav-main-link.active {
  color: #040405;
}
.nav-main-link:hover .nav-main-link-icon, .nav-main-link:focus .nav-main-link-icon, .nav-main-link.active .nav-main-link-icon {
  color: #36b3a0;
}

.nav-main-submenu {
  background-color: #f8f9f9;
}
.nav-main-submenu .nav-main-link {
  color: #79848f;
}
.nav-main-submenu .nav-main-link:hover, .nav-main-submenu .nav-main-link:focus, .nav-main-submenu .nav-main-link.active {
  color: #1b1e20;
}

.nav-main-item.open > .nav-main-link-submenu {
  color: #000;
}
.nav-main-item.open > .nav-main-link-submenu > .nav-main-link-icon {
  color: #36b3a0;
}

@media (min-width: 992px) {
  .nav-main-horizontal .nav-main-submenu {
    background-color: #f2f5f5;
  }
  .nav-main-horizontal.nav-main-hover .nav-main-item:hover > .nav-main-link-submenu {
    color: #000;
  }
  .nav-main-horizontal.nav-main-hover .nav-main-item:hover > .nav-main-link-submenu > .nav-main-link-icon {
    color: #000;
  }
}
.nav-main-dark .nav-main-link,
.sidebar-dark #sidebar .nav-main-link,
.page-header-dark #page-header .nav-main-link {
  color: rgba(230, 236, 236, 0.75);
}
.nav-main-dark .nav-main-link > .nav-main-link-icon,
.sidebar-dark #sidebar .nav-main-link > .nav-main-link-icon,
.page-header-dark #page-header .nav-main-link > .nav-main-link-icon {
  color: rgba(255, 255, 255, 0.3);
}
.nav-main-dark .nav-main-link:hover, .nav-main-dark .nav-main-link:focus, .nav-main-dark .nav-main-link.active,
.sidebar-dark #sidebar .nav-main-link:hover,
.sidebar-dark #sidebar .nav-main-link:focus,
.sidebar-dark #sidebar .nav-main-link.active,
.page-header-dark #page-header .nav-main-link:hover,
.page-header-dark #page-header .nav-main-link:focus,
.page-header-dark #page-header .nav-main-link.active {
  color: #fff;
}
.nav-main-dark .nav-main-link:hover > .nav-main-link-icon, .nav-main-dark .nav-main-link:focus > .nav-main-link-icon, .nav-main-dark .nav-main-link.active > .nav-main-link-icon,
.sidebar-dark #sidebar .nav-main-link:hover > .nav-main-link-icon,
.sidebar-dark #sidebar .nav-main-link:focus > .nav-main-link-icon,
.sidebar-dark #sidebar .nav-main-link.active > .nav-main-link-icon,
.page-header-dark #page-header .nav-main-link:hover > .nav-main-link-icon,
.page-header-dark #page-header .nav-main-link:focus > .nav-main-link-icon,
.page-header-dark #page-header .nav-main-link.active > .nav-main-link-icon {
  color: #fff;
}
.nav-main-dark .nav-main-submenu,
.sidebar-dark #sidebar .nav-main-submenu,
.page-header-dark #page-header .nav-main-submenu {
  background-color: #152c31;
}
.nav-main-dark .nav-main-submenu .nav-main-link,
.sidebar-dark #sidebar .nav-main-submenu .nav-main-link,
.page-header-dark #page-header .nav-main-submenu .nav-main-link {
  color: rgba(230, 236, 236, 0.5);
}
.nav-main-dark .nav-main-submenu .nav-main-link:hover, .nav-main-dark .nav-main-submenu .nav-main-link:focus, .nav-main-dark .nav-main-submenu .nav-main-link.active,
.sidebar-dark #sidebar .nav-main-submenu .nav-main-link:hover,
.sidebar-dark #sidebar .nav-main-submenu .nav-main-link:focus,
.sidebar-dark #sidebar .nav-main-submenu .nav-main-link.active,
.page-header-dark #page-header .nav-main-submenu .nav-main-link:hover,
.page-header-dark #page-header .nav-main-submenu .nav-main-link:focus,
.page-header-dark #page-header .nav-main-submenu .nav-main-link.active {
  color: #fff;
  background-color: transparent;
}
.nav-main-dark .nav-main-item.open > .nav-main-link-submenu,
.nav-main-dark .nav-main-item.open > .nav-main-link-submenu > .nav-main-link-icon,
.sidebar-dark #sidebar .nav-main-item.open > .nav-main-link-submenu,
.sidebar-dark #sidebar .nav-main-item.open > .nav-main-link-submenu > .nav-main-link-icon,
.page-header-dark #page-header .nav-main-item.open > .nav-main-link-submenu,
.page-header-dark #page-header .nav-main-item.open > .nav-main-link-submenu > .nav-main-link-icon {
  color: #fff;
}
.nav-main-dark .nav-main-item.open > .nav-main-submenu,
.sidebar-dark #sidebar .nav-main-item.open > .nav-main-submenu,
.page-header-dark #page-header .nav-main-item.open > .nav-main-submenu {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-main-dark .nav-main-submenu .nav-main-item.open .nav-main-link,
.sidebar-dark #sidebar .nav-main-submenu .nav-main-item.open .nav-main-link,
.page-header-dark #page-header .nav-main-submenu .nav-main-item.open .nav-main-link {
  background-color: transparent;
}

@media (min-width: 992px) {
  .nav-main-dark.nav-main-horizontal .nav-main-submenu,
.sidebar-dark #sidebar .nav-main-horizontal .nav-main-submenu,
.page-header-dark #page-header .nav-main-horizontal .nav-main-submenu {
    background-color: #152c31 !important;
  }
  .nav-main-dark.nav-main-horizontal.nav-main-hover .nav-main-item:hover > .nav-main-link-submenu,
.sidebar-dark #sidebar .nav-main-horizontal.nav-main-hover .nav-main-item:hover > .nav-main-link-submenu,
.page-header-dark #page-header .nav-main-horizontal.nav-main-hover .nav-main-item:hover > .nav-main-link-submenu {
    color: #fff;
  }
  .nav-main-dark.nav-main-horizontal.nav-main-hover .nav-main-item:hover > .nav-main-link-submenu > .nav-main-link-icon,
.sidebar-dark #sidebar .nav-main-horizontal.nav-main-hover .nav-main-item:hover > .nav-main-link-submenu > .nav-main-link-icon,
.page-header-dark #page-header .nav-main-horizontal.nav-main-hover .nav-main-item:hover > .nav-main-link-submenu > .nav-main-link-icon {
    color: #fff;
  }
  .nav-main-dark.nav-main-horizontal.nav-main-hover .nav-main-submenu .nav-main-item:hover .nav-main-link,
.sidebar-dark #sidebar .nav-main-horizontal.nav-main-hover .nav-main-submenu .nav-main-item:hover .nav-main-link,
.page-header-dark #page-header .nav-main-horizontal.nav-main-hover .nav-main-submenu .nav-main-item:hover .nav-main-link {
    background-color: transparent;
  }
}
.nav-users a {
  border-bottom-color: #f2f5f5;
}
.nav-users a:hover {
  background-color: #f8f9f9;
}

.nav-items a:hover {
  background-color: #f8f9f9;
}
.nav-items a:active {
  background-color: #f2f5f5;
}
.nav-items > li:not(:last-child) > a {
  border-bottom-color: #f2f5f5;
}

.mini-nav-item {
  color: #bbcbcb;
}
.mini-nav-item.active {
  background-color: #234851;
  color: #fff;
}
.mini-nav-item:hover {
  color: #fff;
  background-color: #234851;
}
.mini-nav-item:active {
  color: #bbcbcb;
}

.list-activity > li {
  border-bottom-color: #f2f5f5;
}

.timeline .timeline-event-time {
  background-color: #f8f9f9;
}

@media (min-width: 768px) {
  .timeline-modern::before {
    background-color: #f8f9f9;
  }
  .timeline-modern .timeline-event-time {
    background-color: transparent;
  }
}
.ribbon-primary .ribbon-box {
  color: #fff;
  background-color: #36b3a0;
}
.ribbon-primary.ribbon-bookmark .ribbon-box::before {
  border-color: #36b3a0;
  border-left-color: transparent;
}
.ribbon-primary.ribbon-bookmark.ribbon-left .ribbon-box::before {
  border-color: #36b3a0;
  border-right-color: transparent;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
  background-color: #36b3a0;
  border-color: #36b3a0;
}

.cke_chrome,
.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused),
.ck.ck-toolbar {
  border-color: #e6ecec !important;
}

.cke_top,
.ck.ck-toolbar {
  border-bottom-color: #e6ecec !important;
  background: #f8f9f9 !important;
}

.ck.ck-toolbar .ck.ck-toolbar__separator {
  background: #e6ecec !important;
}

.cke_bottom {
  border-top-color: #e6ecec !important;
  background: #f8f9f9 !important;
}

.dropzone {
  background-color: #f8f9f9;
  border-color: #d8e1e1;
}
.dropzone .dz-message {
  color: #3e444a;
}
.dropzone:hover {
  background-color: #fff;
  border-color: #36b3a0;
}
.dropzone:hover .dz-message {
  color: #36b3a0;
}

.fc-theme-standard a {
  color: #3e444a;
}
.fc-theme-standard .fc-button-primary {
  color: #3e444a;
  background-color: #e6ecec;
  border-color: #e6ecec;
}
.fc-theme-standard .fc-button-primary:not(:disabled):hover {
  color: #3e444a;
  background-color: #f2f5f5;
  border-color: #f2f5f5;
}
.fc-theme-standard .fc-button-primary:not(:disabled).fc-button-active, .fc-theme-standard .fc-button-primary:not(:disabled):active {
  color: #3e444a;
  background-color: #f8f9f9;
  border-color: #f8f9f9;
}
.fc-theme-standard .fc-button-primary:focus, .fc-theme-standard .fc-button-primary:not(:disabled).fc-button-active:focus, .fc-theme-standard .fc-button-primary:not(:disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(54, 179, 160, 0.4);
}
.fc-theme-standard th,
.fc-theme-standard td,
.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard .fc-list {
  border-color: #e6ecec;
}
.fc-theme-standard .fc-h-event {
  background-color: #36b3a0;
  border: #36b3a0;
}
.fc-theme-standard .fc-col-header-cell,
.fc-theme-standard .fc-list-day-cushion {
  background-color: #f8f9f9;
}

.irs.irs--round .irs-min,
.irs.irs--round .irs-max,
.irs.irs--round .irs-line,
.irs.irs--round .irs-grid-pol {
  background: #f2f5f5;
}
.irs.irs--round .irs-handle {
  border-color: #36b3a0;
}
.irs.irs--round .irs-from:before,
.irs.irs--round .irs-to:before,
.irs.irs--round .irs-single:before {
  border-top-color: #36b3a0;
}
.irs.irs--round .irs-bar,
.irs.irs--round .irs-from,
.irs.irs--round .irs-to,
.irs.irs--round .irs-single {
  background: #36b3a0;
}

.select2-container--default .select2-selection--single {
  border-color: #d8e1e1;
}
.select2-container--default .select2-selection--multiple {
  border-color: #d8e1e1;
}
.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single {
  border-color: white;
  box-shadow: 0 0 0 0.25rem rgba(54, 179, 160, 0.25);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #36b3a0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #d8e1e1;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #36b3a0;
}
.select2-container--default .select2-dropdown .select2-search__field:focus {
  border-color: white;
  box-shadow: 0 0 0 0.25rem rgba(54, 179, 160, 0.25);
}

.simplebar-scrollbar::before {
  background: rgba(1, 5, 7, 0.75);
}

.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
  color: #1a353c;
}

.dd-handle {
  color: #3e444a;
  background: #f8f9f9;
  border-color: #e6ecec;
}
.dd-handle:hover {
  color: #171717;
}

.dd-empty,
.dd-placeholder {
  border-color: #0b2830;
  background: #a8e5db;
}

.editor-toolbar {
  border-color: #e6ecec;
  background-color: #f8f9f9;
}

.CodeMirror {
  border-color: #e6ecec;
}

.flatpickr-input.form-control:disabled,
.flatpickr-input.form-control[readonly],
.input.form-control:disabled,
.input.form-control[readonly] {
  color: #3e444a;
  background-color: #fff;
  border-color: #d8e1e1;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  border-color: #36b3a0;
  background: #36b3a0;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: #36b3a0;
}

.jvectormap-tip {
  background: #1a353c;
}

.jvectormap-zoomin,
.jvectormap-zoomout,
.jvectormap-goback {
  background: #1a353c;
}

.dark-mode,
.dark-mode #side-overlay,
.dark-mode #page-loader {
  background-color: #081e24;
  color: #77b4c4;
}
@media (min-width: 992px) {
  .dark-mode.page-header-modern.page-header-dark #page-header {
    background-color: #081e24 !important;
  }
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode .h1,
.dark-mode .h2,
.dark-mode .h3,
.dark-mode .h4,
.dark-mode .h5,
.dark-mode .h6 {
  color: #e6ecec;
}
.dark-mode .content-heading {
  border-bottom-color: #113d49;
}
.dark-mode hr {
  border-top-color: #113d49;
}
.dark-mode code {
  color: #e685b5;
}
.dark-mode .story p,
.dark-mode p.story {
  color: #54a1b5;
}
.dark-mode a:not(.mini-nav-item):not(.badge):not(.btn):not(.btn-block-option):not(.block):not(.dropdown-item):not(.nav-link):not(.page-link):not(.alert-link):not(.nav-main-link):not(.list-group-item-action):not(.close):not(.fc-event):not(.text-success-light):not(.text-danger-light):not(.text-warning-light):not(.text-info-light) {
  color: #51cbb8;
}
.dark-mode a:not(.mini-nav-item):not(.badge):not(.btn):not(.btn-block-option):not(.block):not(.dropdown-item):not(.nav-link):not(.page-link):not(.alert-link):not(.nav-main-link):not(.list-group-item-action):not(.close):not(.fc-event):not(.text-success-light):not(.text-danger-light):not(.text-warning-light):not(.text-info-light).link-fx::before {
  background-color: #51cbb8;
}
.dark-mode a:not(.mini-nav-item):not(.badge):not(.btn):not(.btn-block-option):not(.block):not(.dropdown-item):not(.nav-link):not(.page-link):not(.alert-link):not(.nav-main-link):not(.list-group-item-action):not(.close):not(.fc-event):not(.text-success-light):not(.text-danger-light):not(.text-warning-light):not(.text-info-light):hover {
  color: #36b3a0;
}
.dark-mode .bg-body {
  background-color: #081e24 !important;
}
.dark-mode a.bg-body:hover, .dark-mode a.bg-body:focus,
.dark-mode button.bg-body:hover,
.dark-mode button.bg-body:focus {
  background-color: black !important;
}
.dark-mode .bg-body-light {
  background-color: #0e323c !important;
}
.dark-mode a.bg-body-light:hover, .dark-mode a.bg-body-light:focus,
.dark-mode button.bg-body-light:hover,
.dark-mode button.bg-body-light:focus {
  background-color: #041013 !important;
}
.dark-mode .bg-body-dark {
  background-color: #07181d !important;
}
.dark-mode a.bg-body-dark:hover, .dark-mode a.bg-body-dark:focus,
.dark-mode button.bg-body-dark:hover,
.dark-mode button.bg-body-dark:focus {
  background-color: black !important;
}
.dark-mode .bg-body-extra-light {
  background-color: #0b2830 !important;
}
.dark-mode a.bg-body-extra-light:hover, .dark-mode a.bg-body-extra-light:focus,
.dark-mode button.bg-body-extra-light:hover,
.dark-mode button.bg-body-extra-light:focus {
  background-color: #010507 !important;
}
.dark-mode .bg-muted {
  background-color: #a1b7b7 !important;
}
.dark-mode a.bg-muted:hover, .dark-mode a.bg-muted:focus,
.dark-mode button.bg-muted:hover,
.dark-mode button.bg-muted:focus {
  background-color: #84a1a1 !important;
}
.dark-mode .text-primary {
  color: #3ec5b0 !important;
}
.dark-mode a.text-primary.link-fx::before {
  background-color: #3ec5b0 !important;
}
.dark-mode a.text-primary:hover, .dark-mode a.text-primary:focus {
  color: #309f8e !important;
}
.dark-mode .text-success {
  color: #74bb0f !important;
}
.dark-mode a.text-success.link-fx::before {
  background-color: #74bb0f !important;
}
.dark-mode a.text-success:hover, .dark-mode a.text-success:focus {
  color: #568b0b !important;
}
.dark-mode .text-warning {
  color: #f28507 !important;
}
.dark-mode a.text-warning.link-fx::before {
  background-color: #f28507 !important;
}
.dark-mode a.text-warning:hover, .dark-mode a.text-warning:focus {
  color: #c06905 !important;
}
.dark-mode .text-info {
  color: #09a5ca !important;
}
.dark-mode a.text-info.link-fx::before {
  background-color: #09a5ca !important;
}
.dark-mode a.text-info:hover, .dark-mode a.text-info:focus {
  color: #077d9a !important;
}
.dark-mode .text-danger {
  color: #e03c3c !important;
}
.dark-mode a.text-danger.link-fx::before {
  background-color: #e03c3c !important;
}
.dark-mode a.text-danger:hover, .dark-mode a.text-danger:focus {
  color: #c82020 !important;
}
.dark-mode .text-body-bg {
  color: #081e24 !important;
}
.dark-mode a.text-body-bg.link-fx::before {
  background-color: #081e24 !important;
}
.dark-mode a.text-body-bg:hover, .dark-mode a.text-body-bg:focus {
  color: black !important;
}
.dark-mode .text-body-bg-dark {
  color: #051317 !important;
}
.dark-mode a.text-body-bg-dark.link-fx::before {
  background-color: #051317 !important;
}
.dark-mode a.text-body-bg-dark:hover, .dark-mode a.text-body-bg-dark:focus {
  color: black !important;
}
.dark-mode .text-body-bg-light {
  color: #0e323c !important;
}
.dark-mode a.text-body-bg-light.link-fx::before {
  background-color: #0e323c !important;
}
.dark-mode a.text-body-bg-light:hover, .dark-mode a.text-body-bg-light:focus {
  color: #041013 !important;
}
.dark-mode .text-body-color {
  color: #77b4c4 !important;
}
.dark-mode a.text-body-color.link-fx::before {
  background-color: #77b4c4 !important;
}
.dark-mode a.text-body-color:hover, .dark-mode a.text-body-color:focus {
  color: #54a1b5 !important;
}
.dark-mode .text-body-color-dark {
  color: #4893a7 !important;
}
.dark-mode a.text-body-color-dark.link-fx::before {
  background-color: #4893a7 !important;
}
.dark-mode a.text-body-color-dark:hover, .dark-mode a.text-body-color-dark:focus {
  color: #397483 !important;
}
.dark-mode .text-body-color-light {
  color: #add2db !important;
}
.dark-mode a.text-body-color-light.link-fx::before {
  background-color: #add2db !important;
}
.dark-mode a.text-body-color-light:hover, .dark-mode a.text-body-color-light:focus {
  color: #89becc !important;
}
.dark-mode .text-dark {
  color: #adc0c0 !important;
}
.dark-mode a.text-dark.link-fx::before {
  background-color: #adc0c0 !important;
}
.dark-mode a.text-dark:hover, .dark-mode a.text-dark:focus {
  color: #90aaaa !important;
}
.dark-mode .text-muted {
  color: #4893a7 !important;
}
.dark-mode a.text-muted.link-fx::before {
  background-color: #4893a7 !important;
}
.dark-mode a.text-muted:hover, .dark-mode a.text-muted:focus {
  color: #397483 !important;
}
.dark-mode .btn-secondary,
.dark-mode .btn-alt-secondary {
  color: #fff;
  background-color: #22454e;
  border-color: #22454e;
}
.dark-mode .btn-secondary:hover,
.dark-mode .btn-alt-secondary:hover {
  color: #fff;
  background-color: #1e3d45;
  border-color: #1e3d45;
}
.btn-check:focus + .dark-mode .btn-secondary, .dark-mode .btn-secondary:focus,
.btn-check:focus + .dark-mode .btn-alt-secondary,
.dark-mode .btn-alt-secondary:focus {
  color: #fff;
  background-color: #1e3d45;
  border-color: #1e3d45;
  box-shadow: 0 0 0 0.25rem rgba(67, 97, 105, 0.5);
}
.btn-check:checked + .dark-mode .btn-secondary, .btn-check:active + .dark-mode .btn-secondary, .dark-mode .btn-secondary:active, .dark-mode .btn-secondary.active, .show > .dark-mode .btn-secondary.dropdown-toggle,
.btn-check:checked + .dark-mode .btn-alt-secondary,
.btn-check:active + .dark-mode .btn-alt-secondary,
.dark-mode .btn-alt-secondary:active,
.dark-mode .btn-alt-secondary.active,
.show > .dark-mode .btn-alt-secondary.dropdown-toggle {
  color: #fff;
  background-color: #1b373e;
  border-color: #1a343b;
}
.btn-check:checked + .dark-mode .btn-secondary:focus, .btn-check:active + .dark-mode .btn-secondary:focus, .dark-mode .btn-secondary:active:focus, .dark-mode .btn-secondary.active:focus, .show > .dark-mode .btn-secondary.dropdown-toggle:focus,
.btn-check:checked + .dark-mode .btn-alt-secondary:focus,
.btn-check:active + .dark-mode .btn-alt-secondary:focus,
.dark-mode .btn-alt-secondary:active:focus,
.dark-mode .btn-alt-secondary.active:focus,
.show > .dark-mode .btn-alt-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(67, 97, 105, 0.5);
}
.dark-mode .btn-secondary:disabled, .dark-mode .btn-secondary.disabled,
.dark-mode .btn-alt-secondary:disabled,
.dark-mode .btn-alt-secondary.disabled {
  color: #fff;
  background-color: #22454e;
  border-color: #22454e;
}
.dark-mode .nav-link {
  color: #cad6d6;
}
.dark-mode .nav-link:hover, .dark-mode .nav-link:focus {
  color: #36b3a0;
}
.dark-mode .nav-pills .nav-link {
  color: #90aaaa;
}
.dark-mode .nav-pills .nav-link:hover, .dark-mode .nav-pills .nav-link:focus {
  background-color: #134451;
}
.dark-mode .nav-pills .nav-link.active,
.dark-mode .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #36b3a0;
}
.dark-mode .nav-tabs {
  border-bottom-color: #113d49;
}
.dark-mode .nav-tabs .nav-link:hover, .dark-mode .nav-tabs .nav-link:focus {
  border-color: #113d49 #113d49 #113d49;
}
.dark-mode .nav-tabs .nav-link.active,
.dark-mode .nav-tabs .nav-item.show .nav-link {
  color: #cad6d6;
  background-color: transparent;
  border-color: #113d49 #113d49 #0b2830;
}
.dark-mode .nav-tabs-block {
  background-color: #113d49;
}
.dark-mode .nav-tabs-block .nav-link {
  border-color: transparent;
  color: #cad6d6;
}
.dark-mode .nav-tabs-block .nav-link:hover, .dark-mode .nav-tabs-block .nav-link:focus {
  color: #36b3a0;
  background-color: #0e323c;
  border-color: transparent;
}
.dark-mode .nav-tabs-block .nav-link.active,
.dark-mode .nav-tabs-block .nav-item.show .nav-link {
  color: #cad6d6;
  background-color: #0b2830;
  border-color: transparent;
}
.dark-mode .nav-tabs-alt {
  border-bottom-color: #0e323c;
}
.dark-mode .nav-tabs-alt .nav-link {
  color: #cad6d6;
  background-color: transparent;
  border-color: transparent;
}
.dark-mode .nav-tabs-alt .nav-link:hover, .dark-mode .nav-tabs-alt .nav-link:focus {
  color: #36b3a0;
  background-color: transparent;
  border-color: transparent;
  box-shadow: inset 0 -3px #36b3a0;
}
.dark-mode .nav-tabs-alt .nav-link.active,
.dark-mode .nav-tabs-alt .nav-item.show .nav-link {
  color: #cad6d6;
  background-color: transparent;
  border-color: transparent;
  box-shadow: inset 0 -3px #36b3a0;
}
.dark-mode .card {
  background-color: #0b2830;
}
.dark-mode .card.card-borderless {
  box-shadow: 0 1px 2px rgba(7, 26, 31, 0.5), 0 1px 2px rgba(7, 26, 31, 0.5);
}
.dark-mode .card > .card-header:not(.bg-transparent),
.dark-mode .card > .card-footer:not(.bg-transparent) {
  background-color: #113d49;
}
.dark-mode .card > .card-header:not(.border-bottom-0),
.dark-mode .card > .card-footer:not(.border-top-0) {
  border-color: #113d49;
}
.dark-mode .card:not(.card-borderless),
.dark-mode .card:not(.card-borderless) > .card-header {
  border-color: #113d49;
}
.dark-mode .card > .card-header .block-title small {
  color: #a1b7b7;
}
.dark-mode .page-item.active .page-link {
  color: #fff;
  background-color: #36b3a0;
  border-color: #36b3a0;
}
.dark-mode .page-item.disabled .page-link {
  color: #5c7878;
  background-color: transparent;
  border-color: transparent;
}
.dark-mode .page-link {
  color: #90aaaa;
  background-color: #081e24;
  border-color: #081e24;
}
.dark-mode .page-link:hover {
  color: #90aaaa;
  background-color: #030c0f;
  border-color: #030c0f;
}
.dark-mode .page-link:focus {
  background-color: #051317;
  border-color: #051317;
}
.dark-mode .list-group-item-action {
  color: #cad6d6;
}
.dark-mode .list-group-item-action:hover, .dark-mode .list-group-item-action:focus {
  color: #cad6d6;
  background-color: #0f3843;
}
.dark-mode .list-group-item-action:active {
  color: #cad6d6;
  background-color: #081e24;
}
.dark-mode .list-group-item-action.disabled {
  color: #739393;
}
.dark-mode .list-group-item {
  color: #cad6d6;
  background-color: #0e323c;
  border-color: #07181d;
}
.dark-mode .list-group-item.active {
  color: #fff;
  background-color: #36b3a0;
  border-color: #36b3a0;
}
.dark-mode .popover {
  border-color: #07181d;
  background-color: #0e323c;
}
.dark-mode .bs-popover-top .popover-arrow::before, .dark-mode .bs-popover-auto[x-placement^=top] .popover-arrow::before {
  border-top-color: #07181d;
}
.dark-mode .bs-popover-top .popover-arrow::after, .dark-mode .bs-popover-auto[x-placement^=top] .popover-arrow::after {
  border-top-color: #0e323c;
}
.dark-mode .bs-popover-end .popover-arrow::before, .dark-mode .bs-popover-auto[x-placement^=right] .popover-arrow::before {
  border-right-color: #07181d;
}
.dark-mode .bs-popover-end .popover-arrow::after, .dark-mode .bs-popover-auto[x-placement^=right] .popover-arrow::after {
  border-right-color: #0e323c;
}
.dark-mode .bs-popover-bottom .popover-arrow::before, .dark-mode .bs-popover-auto[x-placement^=bottom] .popover-arrow::before {
  border-bottom-color: #07181d;
}
.dark-mode .bs-popover-bottom .popover-arrow::after, .dark-mode .bs-popover-auto[x-placement^=bottom] .popover-arrow::after {
  border-bottom-color: #0e323c;
}
.dark-mode .bs-popover-start .popover-arrow::before, .dark-mode .bs-popover-auto[x-placement^=left] .popover-arrow::before {
  border-left-color: #07181d;
}
.dark-mode .bs-popover-start .popover-arrow::after, .dark-mode .bs-popover-auto[x-placement^=left] .popover-arrow::after {
  border-left-color: #0e323c;
}
.dark-mode .popover-header {
  color: #e6ecec;
  background-color: #0e323c;
  border-bottom-color: #07181d;
}
.dark-mode .popover-body {
  color: #cad6d6;
  background-color: #0e323c;
}
.dark-mode .dropdown-menu {
  color: #cad6d6;
  background-color: #0b2830;
  border-color: #0e323c;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.25);
}
.dark-mode .dropdown-menu .dropdown-item {
  color: #bbcbcb;
}
.dark-mode .dropdown-menu .dropdown-item:hover, .dark-mode .dropdown-menu .dropdown-item:focus {
  color: #cad6d6;
  background-color: #134451;
}
.dark-mode .dropdown-menu .dropdown-item.active, .dark-mode .dropdown-menu .dropdown-item:active {
  color: #d8e1e1;
  background-color: #165162;
}
.dark-mode .dropdown-menu .dropdown-item.disabled, .dark-mode .dropdown-menu .dropdown-item:disabled {
  color: #5c7878;
}
.dark-mode .dropdown-menu .dropdown-divider {
  border-color: #154b59;
}
.dark-mode .dropdown-menu .dropdown-item-text {
  color: #cad6d6;
}
.dark-mode .dropdown-menu .dropdown-header {
  color: #9eb5b5 !important;
}
.dark-mode .table {
  --bs-table-striped-color: #f8f9f9;
  --bs-table-striped-bg: #0a232a;
  --bs-table-active-color: #f8f9f9;
  --bs-table-active-bg: #113d49;
  --bs-table-hover-color: #f8f9f9;
  --bs-table-hover-bg: #091f26;
  color: #f8f9f9;
  border-color: #051317;
}
.dark-mode .table > :not(:last-child) > :last-child > * {
  border-bottom-color: #051317;
}
.dark-mode .table-dark {
  --bs-table-bg: rgba(7, 24, 29, 0.75);
  --bs-table-striped-bg: rgba(27, 43, 47, 0.7625);
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: rgba(46, 60, 64, 0.775);
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: rgba(37, 52, 56, 0.76875);
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: rgba(46, 60, 64, 0.775);
}
.dark-mode .table-primary {
  --bs-table-bg: rgba(43, 143, 128, 0.75);
  --bs-table-striped-bg: rgba(40, 131, 118, 0.7625);
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: rgba(36, 121, 108, 0.775);
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: rgba(38, 126, 113, 0.76875);
  --bs-table-hover-color: #fff;
  color: #000;
  border-color: rgba(36, 121, 108, 0.775);
}
.dark-mode .table-info {
  --bs-table-bg: rgba(30, 58, 138, 0.75);
  --bs-table-striped-bg: rgba(48, 74, 147, 0.7625);
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: rgba(65, 89, 156, 0.775);
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: rgba(57, 81, 152, 0.76875);
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: rgba(65, 89, 156, 0.775);
}
.dark-mode .table-success {
  --bs-table-bg: rgba(20, 83, 45, 0.75);
  --bs-table-striped-bg: rgba(39, 97, 62, 0.7625);
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: rgba(57, 110, 78, 0.775);
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: rgba(48, 103, 70, 0.76875);
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: rgba(57, 110, 78, 0.775);
}
.dark-mode .table-danger {
  --bs-table-bg: rgba(77, 51, 51, 0.75);
  --bs-table-striped-bg: rgba(91, 67, 67, 0.7625);
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: rgba(105, 83, 83, 0.775);
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: rgba(98, 75, 75, 0.76875);
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: rgba(105, 83, 83, 0.775);
}
.dark-mode .table-warning {
  --bs-table-bg: rgba(113, 63, 18, 0.75);
  --bs-table-striped-bg: rgba(124, 78, 37, 0.7625);
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: rgba(135, 93, 55, 0.775);
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: rgba(130, 86, 46, 0.76875);
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: rgba(135, 93, 55, 0.775);
}
.dark-mode .form-text {
  color: #4893a7;
}
.dark-mode .form-control::-moz-placeholder {
  color: #4893a7;
}
.dark-mode .form-control::placeholder {
  color: #4893a7;
}
.dark-mode .form-floating > .form-control::-moz-placeholder {
  color: transparent;
}
.dark-mode .form-floating > .form-control::placeholder {
  color: transparent;
}
.dark-mode .form-control,
.dark-mode .form-select {
  color: #cad6d6;
  background-color: #07181d;
  border-color: #134451;
}
.dark-mode .form-control:focus,
.dark-mode .form-select:focus {
  color: #fff;
  background-color: #07181d;
  border-color: #36b3a0;
}
.dark-mode .form-control:disabled, .dark-mode .form-control[readonly],
.dark-mode .form-select:disabled,
.dark-mode .form-select[readonly] {
  background-color: #0d2f38;
  border-color: #0d2f38;
}
.dark-mode .form-select:focus::-ms-value {
  color: #cad6d6;
  background-color: #07181d;
}
.dark-mode .form-control-plaintext {
  color: #cad6d6;
}
.dark-mode .valid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.375rem;
  font-size: 0.875rem;
  color: #82d211;
}
.dark-mode .valid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  color: #000;
  background-color: rgba(130, 210, 17, 0.9);
  border-radius: 0.25rem;
}
.was-validated .dark-mode:valid ~ .valid-feedback,
.was-validated .dark-mode:valid ~ .valid-tooltip, .dark-mode.is-valid ~ .valid-feedback,
.dark-mode.is-valid ~ .valid-tooltip {
  display: block;
}
.was-validated .dark-mode .form-control:valid, .dark-mode .form-control.is-valid {
  border-color: #82d211;
}
.was-validated .dark-mode .form-control:valid:focus, .dark-mode .form-control.is-valid:focus {
  border-color: #82d211;
  box-shadow: 0 0 0 0.25rem rgba(130, 210, 17, 0.25);
}
.was-validated .dark-mode .form-select:valid, .dark-mode .form-select.is-valid {
  border-color: #82d211;
}
.was-validated .dark-mode .form-select:valid:focus, .dark-mode .form-select.is-valid:focus {
  border-color: #82d211;
  box-shadow: 0 0 0 0.25rem rgba(130, 210, 17, 0.25);
}
.was-validated .dark-mode .form-check-input:valid, .dark-mode .form-check-input.is-valid {
  border-color: #82d211;
}
.was-validated .dark-mode .form-check-input:valid:checked, .dark-mode .form-check-input.is-valid:checked {
  background-color: #82d211;
}
.was-validated .dark-mode .form-check-input:valid:focus, .dark-mode .form-check-input.is-valid:focus {
  box-shadow: 0 0 0 0.25rem rgba(130, 210, 17, 0.25);
}
.was-validated .dark-mode .form-check-input:valid ~ .form-check-label, .dark-mode .form-check-input.is-valid ~ .form-check-label {
  color: #82d211;
}
.dark-mode .form-check-inline .form-check-input ~ .valid-feedback {
  margin-left: 0.5em;
}
.was-validated .dark-mode .input-group .form-control:valid, .dark-mode .input-group .form-control.is-valid,
.was-validated .dark-mode .input-group .form-select:valid,
.dark-mode .input-group .form-select.is-valid {
  z-index: 1;
}
.was-validated .dark-mode .input-group .form-control:valid:focus, .dark-mode .input-group .form-control.is-valid:focus,
.was-validated .dark-mode .input-group .form-select:valid:focus,
.dark-mode .input-group .form-select.is-valid:focus {
  z-index: 3;
}
.dark-mode .invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.375rem;
  font-size: 0.875rem;
  color: #e76868;
}
.dark-mode .invalid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  color: #fff;
  background-color: rgba(231, 104, 104, 0.9);
  border-radius: 0.25rem;
}
.was-validated .dark-mode:invalid ~ .invalid-feedback,
.was-validated .dark-mode:invalid ~ .invalid-tooltip, .dark-mode.is-invalid ~ .invalid-feedback,
.dark-mode.is-invalid ~ .invalid-tooltip {
  display: block;
}
.was-validated .dark-mode .form-control:invalid, .dark-mode .form-control.is-invalid {
  border-color: #e76868;
}
.was-validated .dark-mode .form-control:invalid:focus, .dark-mode .form-control.is-invalid:focus {
  border-color: #e76868;
  box-shadow: 0 0 0 0.25rem rgba(231, 104, 104, 0.25);
}
.was-validated .dark-mode .form-select:invalid, .dark-mode .form-select.is-invalid {
  border-color: #e76868;
}
.was-validated .dark-mode .form-select:invalid:focus, .dark-mode .form-select.is-invalid:focus {
  border-color: #e76868;
  box-shadow: 0 0 0 0.25rem rgba(231, 104, 104, 0.25);
}
.was-validated .dark-mode .form-check-input:invalid, .dark-mode .form-check-input.is-invalid {
  border-color: #e76868;
}
.was-validated .dark-mode .form-check-input:invalid:checked, .dark-mode .form-check-input.is-invalid:checked {
  background-color: #e76868;
}
.was-validated .dark-mode .form-check-input:invalid:focus, .dark-mode .form-check-input.is-invalid:focus {
  box-shadow: 0 0 0 0.25rem rgba(231, 104, 104, 0.25);
}
.was-validated .dark-mode .form-check-input:invalid ~ .form-check-label, .dark-mode .form-check-input.is-invalid ~ .form-check-label {
  color: #e76868;
}
.dark-mode .form-check-inline .form-check-input ~ .invalid-feedback {
  margin-left: 0.5em;
}
.was-validated .dark-mode .input-group .form-control:invalid, .dark-mode .input-group .form-control.is-invalid,
.was-validated .dark-mode .input-group .form-select:invalid,
.dark-mode .input-group .form-select.is-invalid {
  z-index: 2;
}
.was-validated .dark-mode .input-group .form-control:invalid:focus, .dark-mode .input-group .form-control.is-invalid:focus,
.was-validated .dark-mode .input-group .form-select:invalid:focus,
.dark-mode .input-group .form-select.is-invalid:focus {
  z-index: 3;
}
.dark-mode .form-control.form-control-alt {
  color: #cad6d6;
  border-color: #081e24;
  background-color: #081e24;
}
.dark-mode .form-control.form-control-alt:focus {
  color: #fff;
  border-color: #07181d;
  background-color: #07181d;
  box-shadow: none;
}
.dark-mode .form-control.form-control-alt.is-valid {
  border-color: rgba(20, 83, 45, 0.85);
  background-color: rgba(20, 83, 45, 0.85);
}
.dark-mode .form-control.form-control-alt.is-valid::-moz-placeholder {
  color: #4893a7;
}
.dark-mode .form-control.form-control-alt.is-valid::placeholder {
  color: #4893a7;
}
.dark-mode .form-control.form-control-alt.is-valid:focus {
  border-color: #14532d;
  background-color: #14532d;
}
.dark-mode .form-control.form-control-alt.is-invalid {
  border-color: rgba(127, 29, 29, 0.85);
  background-color: rgba(127, 29, 29, 0.85);
}
.dark-mode .form-control.form-control-alt.is-invalid::-moz-placeholder {
  color: #4893a7;
}
.dark-mode .form-control.form-control-alt.is-invalid::placeholder {
  color: #4893a7;
}
.dark-mode .form-control.form-control-alt.is-invalid:focus {
  border-color: #7f1d1d;
  background-color: #7f1d1d;
}
.dark-mode .input-group-text {
  color: #cad6d6;
  background-color: #081e24;
  border-color: #134451;
}
.dark-mode .input-group-text.input-group-text-alt {
  background-color: #07181d;
  border-color: #07181d;
}
.dark-mode .is-valid ~ .valid-feedback,
.dark-mode .is-valid ~ .valid-tooltip,
.dark-mode .was-validated :valid ~ .valid-feedback,
.dark-mode .was-validated :valid ~ .valid-tooltip,
.dark-mode .is-invalid ~ .invalid-feedback,
.dark-mode .is-invalid ~ .invalid-tooltip,
.dark-mode .was-validated :invalid ~ .invalid-feedback,
.dark-mode .was-validated :invalid ~ .invalid-tooltip {
  display: block;
}
.dark-mode .form-check-input {
  background-color: #081e24;
  border-color: #134451;
}
.dark-mode .form-check-input:focus {
  border-color: #36b3a0;
}
.dark-mode .form-check-input:checked {
  background-color: #36b3a0;
  border-color: #36b3a0;
}
.dark-mode .form-block .form-check-label {
  border-color: #134451;
}
.dark-mode .form-block .form-check-label:hover {
  border-color: #144957;
}
.dark-mode .form-block .form-check-label::before {
  background-color: #36b3a0;
}
.dark-mode .form-block .form-check-input:checked ~ .form-check-label {
  border-color: #36b3a0;
}
.dark-mode .form-block .form-check-input:focus ~ .form-check-label {
  border-color: #36b3a0;
  box-shadow: 0 0 0 0.25rem rgba(54, 179, 160, 0.25);
}
.dark-mode .form-block .form-check-input:disabled:not([checked]) + .form-check-label:hover,
.dark-mode .form-block .form-check-input[readonly]:not([checked]) + .form-check-label:hover {
  border-color: #07181d;
}
.dark-mode .breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.25);
}
.dark-mode .breadcrumb.breadcrumb-alt .breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.25);
}
.dark-mode .alert-primary {
  color: #fff;
  background-color: #36b3a0;
  border-color: #36b3a0;
}
.dark-mode .alert-primary .alert-link {
  color: #cccccc;
}
.dark-mode .alert-secondary {
  color: #fff;
  background-color: #113d49;
  border-color: #113d49;
}
.dark-mode .alert-secondary .alert-link {
  color: #cccccc;
}
.dark-mode .alert-success {
  color: #fff;
  background-color: #4c7a0a;
  border-color: #4c7a0a;
}
.dark-mode .alert-success .alert-link {
  color: #cccccc;
}
.dark-mode .alert-info {
  color: #fff;
  background-color: #066d86;
  border-color: #066d86;
}
.dark-mode .alert-info .alert-link {
  color: #cccccc;
}
.dark-mode .alert-warning {
  color: #fff;
  background-color: #a35905;
  border-color: #a35905;
}
.dark-mode .alert-warning .alert-link {
  color: #cccccc;
}
.dark-mode .alert-danger {
  color: #fff;
  background-color: #a51d1d;
  border-color: #a51d1d;
}
.dark-mode .alert-danger .alert-link {
  color: #cccccc;
}
.dark-mode .alert-dark {
  color: #fff;
  background-color: #051317;
  border-color: #051317;
}
.dark-mode .alert-dark .alert-link {
  color: #cccccc;
}
.dark-mode .alert-light {
  color: #fff;
  background-color: #165162;
  border-color: #165162;
}
.dark-mode .alert-light .alert-link {
  color: #cccccc;
}
.dark-mode .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}
.dark-mode .progress {
  background-color: #07181d;
}
.dark-mode .modal-header {
  border-bottom-color: #113d49;
}
.dark-mode .modal-content {
  background: #0b2830;
}
.dark-mode .modal-footer {
  border-top-color: #113d49;
}
.dark-mode .toast {
  background-color: #0b2830;
}
.dark-mode .toast-header {
  color: #cad6d6;
  background-color: #113d49;
}
.dark-mode .border {
  border-color: #113d49 !important;
}
.dark-mode .border-top {
  border-top-color: #113d49 !important;
}
.dark-mode .border-end {
  border-right-color: #113d49 !important;
}
.dark-mode .border-bottom {
  border-bottom-color: #113d49 !important;
}
.dark-mode .border-start {
  border-left-color: #113d49 !important;
}
.dark-mode .border-primary {
  border-color: #36b3a0 !important;
}
.dark-mode .border-white {
  border-color: #fff !important;
}
.dark-mode .border-white-op {
  border-color: rgba(255, 255, 255, 0.1) !important;
}
.dark-mode .border-black-op {
  border-color: rgba(0, 0, 0, 0.1) !important;
}
.dark-mode .block {
  background-color: #0b2830;
  box-shadow: 0 1px 2px rgba(7, 26, 31, 0.5), 0 1px 2px rgba(7, 26, 31, 0.5);
}
.dark-mode .block.block-bordered {
  border: 1px solid #113d49;
  box-shadow: none;
}
.dark-mode .block .block-header-default {
  background-color: #113d49 !important;
}
.dark-mode .block .block-title small {
  color: #a1b7b7;
}
.dark-mode .block.block-mode-loading::before {
  background-color: rgba(17, 61, 73, 0.85);
}
.dark-mode .block.block-mode-loading::after {
  color: #fff;
}
.dark-mode .block.block-transparent {
  background-color: transparent;
  box-shadow: none;
}
.dark-mode .block.block-mode-fullscreen.block-transparent {
  background-color: #0b2830;
}
.dark-mode .block .block,
.dark-mode .content-side .block {
  box-shadow: none;
}
.dark-mode a.block {
  color: #cad6d6;
}
.dark-mode a.block.block-link-pop:hover {
  box-shadow: 0 0.5rem 2.5rem #030c0f;
}
.dark-mode a.block.block-link-pop:active {
  box-shadow: 0 0.375rem 0.55rem #0a252c;
}
.dark-mode a.block.block-link-shadow:hover {
  box-shadow: 0 0 1.5rem #030c0f;
}
.dark-mode a.block.block-link-shadow:active {
  box-shadow: 0 0 0.75rem #06171b;
}
.dark-mode .btn-block-option {
  color: #a1b7b7;
}
.block-header-default .dark-mode .btn-block-option {
  color: #93acac;
}
.dark-mode .btn-block-option:hover, .dark-mode .btn-block-option:focus {
  color: #84a1a1;
}
.dark-mode .btn-block-option:active {
  color: #a1b7b7;
}
.dark-mode a.btn-block-option:focus,
.dark-mode .active > a.btn-block-option,
.dark-mode .show > button.btn-block-option {
  color: #84a1a1;
}
.dark-mode .block.block-themed .btn-block-option,
.dark-mode .block.block-themed .btn-block-option:hover,
.dark-mode .block.block-themed .btn-block-option:focus,
.dark-mode .block.block-themed .btn-block-option:active,
.dark-mode .block.block-themed a.btn-block-option:focus,
.dark-mode .block.block-themed .active > a.btn-block-option,
.dark-mode .block.block-themed .show > button.btn-block-option {
  color: #fff;
}
.dark-mode .nav-users a {
  border-bottom-color: #081e24;
}
.dark-mode .nav-users a:hover {
  background-color: #0e323c;
}
.dark-mode .nav-items a:hover {
  background-color: #134451;
}
.dark-mode .nav-items a:active {
  background-color: transparent;
}
.dark-mode .nav-items > li:not(:last-child) > a {
  border-bottom-color: #113d49;
}
.dark-mode .list-activity > li:not(:last-child) {
  border-bottom-color: #07181d;
}
.dark-mode .timeline .timeline-event-time {
  background-color: #113d49;
}
@media (min-width: 768px) {
  .dark-mode .timeline-modern::before {
    background-color: #113d49;
  }
  .dark-mode .timeline-modern .timeline-event-time {
    background-color: transparent;
  }
}
.dark-mode .img-thumb {
  background-color: #113d49;
}
.dark-mode .swal2-popup {
  background-color: #0b2830;
}
.dark-mode .swal2-html-container {
  color: #cad6d6;
}
.dark-mode .jvectormap-container {
  background-color: #0b2830 !important;
}
.dark-mode .ck.ck-editor {
  color: #3e444a;
}
.dark-mode .dropzone {
  background-color: #0e323c;
  border-color: #113d49;
}
.dark-mode .dropzone .dz-message {
  color: #cad6d6;
}
.dark-mode .dropzone:hover {
  background-color: #113d49;
  border-color: #36b3a0;
}
.dark-mode .dropzone:hover .dz-message {
  color: #36b3a0;
}
.dark-mode .dropzone .dz-preview.dz-image-preview {
  background-color: transparent;
}
.dark-mode .fc-theme-standard a {
  color: #bbcbcb;
}
.dark-mode .fc-theme-standard .fc-button-primary {
  color: #bbcbcb;
  background-color: #07181d;
  border-color: #07181d;
}
.dark-mode .fc-theme-standard .fc-button-primary:not(:disabled):hover {
  color: #cad6d6;
  background-color: #0e323c;
  border-color: #0e323c;
}
.dark-mode .fc-theme-standard .fc-button-primary:not(:disabled).fc-button-active, .dark-mode .fc-theme-standard .fc-button-primary:not(:disabled):active {
  color: #cad6d6;
  background-color: #0e323c;
  border-color: #0e323c;
}
.dark-mode .fc-theme-standard .fc-button-primary:focus, .dark-mode .fc-theme-standard .fc-button-primary:not(:disabled).fc-button-active:focus, .dark-mode .fc-theme-standard .fc-button-primary:not(:disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(54, 179, 160, 0.4);
}
.dark-mode .fc-theme-standard .fc-list, .dark-mode .fc-theme-standard .fc-scrollgrid,
.dark-mode .fc-theme-standard th,
.dark-mode .fc-theme-standard td {
  border-color: #051317;
}
.dark-mode .fc-theme-standard .fc-list-day-cushion,
.dark-mode .fc-theme-standard .fc-col-header-cell {
  background-color: #0e323c;
}
.dark-mode .fc-theme-standard .fc-list-event:hover td {
  background-color: #091f26;
}
.dark-mode .irs,
.dark-mode .irs--round .irs-grid-text {
  color: #cad6d6;
}
.dark-mode .irs.irs--round .irs-min,
.dark-mode .irs.irs--round .irs-max,
.dark-mode .irs.irs--round .irs-line,
.dark-mode .irs.irs--round .irs-grid-pol,
.dark-mode .irs.irs--round .irs-handle {
  color: #cad6d6;
  background: #081e24;
}
.dark-mode .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #4893a7;
}
.dark-mode .select2-container--default .select2-selection--single,
.dark-mode .select2-container--default .select2-selection--multiple {
  background-color: #07181d;
  border-color: #134451;
}
.dark-mode .select2-container--default.select2-container--focus .select2-selection--multiple, .dark-mode .select2-container--default.select2-container--focus .select2-selection--single, .dark-mode .select2-container--default.select2-container--open .select2-selection--multiple, .dark-mode .select2-container--default.select2-container--open .select2-selection--single {
  border-color: #36b3a0;
}
.dark-mode .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #cad6d6;
}
.dark-mode .select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #134451;
}
.dark-mode .select2-container--default .select2-dropdown .select2-search__field:focus {
  border-color: #36b3a0;
}
.dark-mode .select2-container--default .select2-dropdown {
  background-color: #07181d;
  border-color: #134451;
}
.dark-mode .select2-container--default .select2-search--dropdown .select2-search__field {
  color: #cad6d6;
  background-color: #07181d;
  border-color: #134451;
}
.dark-mode .select2-container--default .select2-results__option[aria-selected=true] {
  color: #fff;
  background-color: #36b3a0;
}
.dark-mode .select2-container--default .select2-search__field::-moz-placeholder {
  color: #4893a7;
}
.dark-mode .select2-container--default .select2-search__field::placeholder {
  color: #4893a7;
}
.dark-mode .is-valid + .select2-container--default .select2-selection--single,
.dark-mode .is-valid + .select2-container--default .select2-selection--multiple,
.dark-mode .is-valid + .select2-container--default.select2-container--focus .select2-selection--single,
.dark-mode .is-valid + .select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #82d211;
}
.dark-mode .is-valid + .select2-container--default.select2-container--focus .select2-selection--single,
.dark-mode .is-valid + .select2-container--default.select2-container--focus .select2-selection--multiple,
.dark-mode .is-valid + .select2-container--default.select2-container--open .select2-selection--single,
.dark-mode .is-valid + .select2-container--default.select2-container--open .select2-selection--multiple {
  box-shadow: 0 0 0 0.25rem rgba(130, 210, 17, 0.25);
}
.dark-mode .is-invalid + .select2-container--default .select2-selection--single,
.dark-mode .is-invalid + .select2-container--default .select2-selection--multiple,
.dark-mode .is-invalid + .select2-container--default.select2-container--focus .select2-selection--single,
.dark-mode .is-invalid + .select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #e35252;
}
.dark-mode .is-invalid + .select2-container--default.select2-container--focus .select2-selection--single,
.dark-mode .is-invalid + .select2-container--default.select2-container--focus .select2-selection--multiple,
.dark-mode .is-invalid + .select2-container--default.select2-container--open .select2-selection--single,
.dark-mode .is-invalid + .select2-container--default.select2-container--open .select2-selection--multiple {
  box-shadow: 0 0 0 0.25rem rgba(227, 82, 82, 0.25);
}
.dark-mode .datepicker .datepicker-switch:hover,
.dark-mode .datepicker .next:hover,
.dark-mode .datepicker .prev:hover,
.dark-mode .datepicker tfoot tr th:hover,
.dark-mode .datepicker table tr td.day:hover,
.dark-mode .datepicker table tr td.focused {
  background-color: #07181d;
}
.dark-mode .datepicker table tr td.selected,
.dark-mode .datepicker table tr td.selected.highlighted {
  color: #fff;
  background-color: #07181d;
  border-color: #07181d;
}
.dark-mode .datepicker table tr td.range {
  color: #cad6d6;
  background-color: #07181d;
  border-color: #07181d;
}
.dark-mode .datepicker table tr td.active:hover,
.dark-mode .datepicker table tr td.active:hover:hover,
.dark-mode .datepicker table tr td.active.disabled:hover,
.dark-mode .datepicker table tr td.active.disabled:hover:hover,
.dark-mode .datepicker table tr td.active:focus,
.dark-mode .datepicker table tr td.active:hover:focus,
.dark-mode .datepicker table tr td.active.disabled:focus,
.dark-mode .datepicker table tr td.active.disabled:hover:focus,
.dark-mode .datepicker table tr td.active:active,
.dark-mode .datepicker table tr td.active:hover:active,
.dark-mode .datepicker table tr td.active.disabled:active,
.dark-mode .datepicker table tr td.active.disabled:hover:active,
.dark-mode .datepicker table tr td.active.active,
.dark-mode .datepicker table tr td.active:hover.active,
.dark-mode .datepicker table tr td.active.disabled.active,
.dark-mode .datepicker table tr td.active.disabled:hover.active,
.dark-mode .open .dropdown-toggle.datepicker table tr td.active,
.dark-mode .open .dropdown-toggle.datepicker table tr td.active:hover,
.dark-mode .open .dropdown-toggle.datepicker table tr td.active.disabled,
.dark-mode .open .dropdown-toggle.datepicker table tr td.active.disabled:hover,
.dark-mode .datepicker table tr td span.active:hover,
.dark-mode .datepicker table tr td span.active:hover:hover,
.dark-mode .datepicker table tr td span.active.disabled:hover,
.dark-mode .datepicker table tr td span.active.disabled:hover:hover,
.dark-mode .datepicker table tr td span.active:focus,
.dark-mode .datepicker table tr td span.active:hover:focus,
.dark-mode .datepicker table tr td span.active.disabled:focus,
.dark-mode .datepicker table tr td span.active.disabled:hover:focus,
.dark-mode .datepicker table tr td span.active:active,
.dark-mode .datepicker table tr td span.active:hover:active,
.dark-mode .datepicker table tr td span.active.disabled:active,
.dark-mode .datepicker table tr td span.active.disabled:hover:active,
.dark-mode .datepicker table tr td span.active.active,
.dark-mode .datepicker table tr td span.active:hover.active,
.dark-mode .datepicker table tr td span.active.disabled.active,
.dark-mode .datepicker table tr td span.active.disabled:hover.active,
.dark-mode .open .dropdown-toggle.datepicker table tr td span.active,
.dark-mode .open .dropdown-toggle.datepicker table tr td span.active:hover,
.dark-mode .open .dropdown-toggle.datepicker table tr td span.active.disabled,
.dark-mode .open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
  background-color: #36b3a0;
  border-color: #36b3a0;
}
.dark-mode .flatpickr-input.form-control:disabled,
.dark-mode .flatpickr-input.form-control[readonly],
.dark-mode .input.form-control:disabled,
.dark-mode .input.form-control[readonly] {
  color: #cad6d6;
  background-color: #07181d;
  border-color: #134451;
}
.dark-mode .flatpickr-day.selected,
.dark-mode .flatpickr-day.startRange,
.dark-mode .flatpickr-day.endRange,
.dark-mode .flatpickr-day.selected.inRange,
.dark-mode .flatpickr-day.startRange.inRange,
.dark-mode .flatpickr-day.endRange.inRange,
.dark-mode .flatpickr-day.selected:focus,
.dark-mode .flatpickr-day.startRange:focus,
.dark-mode .flatpickr-day.endRange:focus,
.dark-mode .flatpickr-day.selected:hover,
.dark-mode .flatpickr-day.startRange:hover,
.dark-mode .flatpickr-day.endRange:hover,
.dark-mode .flatpickr-day.selected.prevMonthDay,
.dark-mode .flatpickr-day.startRange.prevMonthDay,
.dark-mode .flatpickr-day.endRange.prevMonthDay,
.dark-mode .flatpickr-day.selected.nextMonthDay,
.dark-mode .flatpickr-day.startRange.nextMonthDay,
.dark-mode .flatpickr-day.endRange.nextMonthDay {
  border-color: #36b3a0;
  background: #36b3a0;
}
.dark-mode .flatpickr-months .flatpickr-prev-month:hover svg,
.dark-mode .flatpickr-months .flatpickr-next-month:hover svg {
  fill: #36b3a0;
}
.dark-mode .dd-handle {
  color: #cad6d6;
  background: #0e323c;
  border-color: #07181d;
}
.dark-mode .dd-handle:hover {
  color: #adc0c0;
}
.dark-mode .dd-empty,
.dark-mode .dd-placeholder {
  border-color: #a8e5db;
  background: #0b2830;
}