.bg-half{
   background-image: linear-gradient(rgba($primary, 1) 49.999%, rgba($white, 1) 50%)
}


.bg-gray{background-color:$gray-300;}

.bg-gradient-blue{
  @include diagonalGradient(rgba($blue, .9), rgba($dark, .4));  transition:.5s;
}

.overlay-gradient {position:relative;
    &:before{position:absolute; content:""; display:block; top:0; left:0; right:0; bottom:0;
        opacity:.6; transition:.5s;
        @include diagonalGradient($blue, aqua);  
    }
    &:hover:before{opacity:.9;}
}